@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Young+Serif&display=swap');

:root{
    /* Colors */
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:"Space Mono", monospace;
    font-weight:700;
}

body{
    background-color:var(--light-grayish-cyan);
}

header{
    padding-block-start:3.125rem;
    padding-block-end:2.55rem;
    padding-inline:9.02rem;
}

article{
    background-color:var(--white);
    border-radius:1.56rem 1.56rem 0;
    padding:2rem;
}

input{
    width:100%;
}
label{
    font-size:1rem;
    color:var(--dark-grayish-cyan);
    display:block; 
}

label:not(:first-of-type), .hiddenInput{
    margin-block-start:2rem;
}

.hiddenInput div{
    display:flex;
    gap:.5rem
}

input{
    border-radius:5px;
    background-color:var(--very-light-grayish-cyan);
    border:none;
    padding-inline:1.09rem;
    padding-block:0.375rem;
    font-size:1.5rem;
    color:var(--very-dark-cyan);
    text-align:right;
}
input[id="bill"]{
    position:relative;
}
input[id="bill"]::before{
    content:url('./images/icon-dollar.svg');
    position:absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    height:1rem;
    width:1rem;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}